.item-product {
	border: solid 0.1px grey;
	margin: 2rem;
	padding: 1rem;
	border-radius: 5%;
	-webkit-box-shadow: 5px 9px 10px 2px rgba(0, 0, 0, 0.21);
	box-shadow: 5px 9px 10px 2px rgba(0, 0, 0, 0.21);
}

.item-product img {
	width: 100%;
	border-radius: 5%;
}

.item-product h3 {
	font-weight: bold;
}

.link-ver-mas {
	text-decoration: none;
}

.link-ver-mas p {
	border-radius: 3px;
	padding: 0.5rem;
	font-weight: bold;
	background-color: #fec107;
	color: #d83e3c;	
}

.link-ver-mas p:hover{
	box-shadow: 7px 8px 5px 0px rgba(216,62,60,0.34);
	-webkit-box-shadow: 7px 8px 5px 0px rgba(216,62,60,0.34);
	-moz-box-shadow: 7px 8px 5px 0px rgba(216,62,60,0.34);
}