.navegacion {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 8rem;
}

.divLogo {
	width: 15%;
}

.divLogo img {
	width: 100%;
}

.botones-navbar {
	-webkit-box-shadow: 5px 5px 17px 8px rgba(0, 0, 0, 0.23);
	box-shadow: 5px 5px 17px 8px rgba(0, 0, 0, 0.23);
}
